/**
 * Elgg DataTables API plugin
 * @package datatables_api
 */

table.dataTable thead .sorting {
    background-image: url("datatables_api/images/sort_both.png")!important;
}

table.dataTable thead .sorting_asc {
    background-image: url("datatables_api/images/sort_asc.png")!important;
}

table.dataTable thead .sorting_desc {
    background-image: url("datatables_api/images/sort_desc.png")!important;
}

/* settings */
.input_box {
    width:100%; 
    display: block; 
    clear:both;
}

.input_box .elgg-field{
    max-width: 150px; 
    display:inline-block;
}

.input_box input {
    margin-right: 5px;
}

.input_box .elgg-input-radios li {
    display:inline-block;
    margin-right: 20px;
}